@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Yatra+One&display=swap");
html,
body {
  margin: 0%;
  border: 0%;
}
* {
  color: white;
  font-family: "Poppins", sans-serif;
}
::placeholder {
  color: #ffffff;
}
body {
  background: url("./images/book.jpg") no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-family: "Yatra One", cursive;
  text-shadow: 0px 5px 10px #000000;
}

ul {
  list-style-type: none;
}
li {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 0;
}
li i {
  font-size: 2.2rem !important;
  margin-right: 2rem;
  color: #282c4f;
}

#options {
  margin-top: 1rem;
  width: 50%;
  float: right;
}

input[type="text"],
select,
fieldset {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1.5rem 1.5rem 0 8rem;
  padding: 0.8rem 2rem;
  text-align: center;
  background-color: #5b768b;
  outline: none;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0px 0px 15px black;
  transition: 0.5s;
}
input[type="text"]:focus {
  background-color: #7395b0;
  transform: scale(1.1);
}

input[type="button"] {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  outline: none;
  border: 2px solid white;
  cursor: pointer;
  background-color: #282c4f;
  box-shadow: 0px 0px 15px #282c4f;
}
input[type="button"]:hover {
  border: 2px solid black;
  background-color: #ffffff;
  color: #7395b0;
  transition: 0.5s;
  box-shadow: 0px 0px 15px white;
  transform: scale(1.2);
  border-radius: 30px;
}

#home {
  position: absolute;
  top: 85%;
  left: 45%;
  text-align: center;
  text-decoration: none;
  color: #e0caab;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: #a45c60;
  border: 1px solid black;
  transition: 0.5s;
}
#home:hover {
  background-color: #ffffff;
  border-radius: 20px;
  color: #282c4f;
  transform: scale(1.2);
  box-shadow: 0px 0px 15px black;
}
#addBook td label {
  font-size: 1.5rem !important;
  text-shadow: 0px 0px 10px black;
  font-weight: bold;
}

#addBook input {
  margin: 0.5rem 2rem !important;
}

#addBook #bookType {
  margin: 0.5rem 1.5rem 0 2rem;
  width: 80%;
}

#addBook #submit {
  margin: 2rem 0 0 2.5rem !important;
}
#removeBook td label {
  font-size: 1.5rem !important;
  text-shadow: 0px 0px 10px black;
  font-weight: bold;
}

#removeBook input {
  margin: 0.5rem 2rem !important;
}

#removeBook #submit {
  margin: 2rem 0 0 14rem !important;
}
#searchBook #options {
  width: 80%;
  text-align: center;
}
#searchBook fieldset {
  border-radius: 20px;
  width: 50%;
  text-align: left;
}

#searchBook input[type="text"] {
  width: 87%;
  height: 100%;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0% !important;
}

#searchBook #submit {
  margin: 2rem 0 0 14rem !important;
}
#updateBook td label {
  font-size: 1.5rem !important;
  text-shadow: 0px 0px 10px black;
  font-weight: bold;
}

#updateBook input {
  margin: 1rem 2rem !important;
}

#updateBook #submit {
  margin: 2rem 0 0 14rem !important;
}
